.table {
  width: 671px;
  padding: 0 14px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  border-spacing: 0;
  border-top: 0;
}

@media (min-width: 768px) {
  .table {
    width: 960px;
    padding: 0 20px;
  }
}

@media (min-width: 1440px) {
  .table {
    width: 1280px;
  }
}

.tableCaption {
  padding: 14px;
  border-radius: 8px 8px 0 0;
  background-color: #e7f1ed;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #1d1e21;
  text-align: left;
}

@media (min-width: 768px) {
  .tableCaption {
    padding: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.table th {
  padding: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(29, 30, 33, 0.4);
  text-align: left;
}

.table th:nth-child(1) {
  padding-left: 0;
}

@media (min-width: 768px) {
  .table th {
    padding: 20px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.table th:not(:last-child) {
  border-right: 1px solid rgba(29, 30, 33, 0.1);
}

.table td {
  padding: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #1d1e21;
  border-top: 1px solid rgba(29, 30, 33, 0.1);
}

.table td:nth-child(1) {
  padding-left: 0;
}

@media (min-width: 768px) {
  .table td {
    padding: 20px;
    font-size: 16px;
    line-height: 1.125;
  }
}

.table td:not(:last-child) {
  border-right: 1px solid rgba(29, 30, 33, 0.1);
}

.table tr:last-child td {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .table tr:last-child td {
    padding-bottom: 30px;
  }
}

.table td.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .table td.userInfo {
    align-items: center;
    flex-direction: row;
  }
}

.image {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-color: #DCDDDF;
}

@media (min-width:768px) {
  .image {
    width: 36px;
    height: 36px;
  }
}