.productsSection {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterWrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (min-width: 768px) {
  .filterWrap {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  width: 42px;
  height: 42px;
  border-radius: 60px;
  padding: 13px;
  background-color: #59b17a;
}

.btnIcon {
  fill: #ffffff;
}

.btnText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.tableWrapper {
  width: 355px;
  overflow: auto;
}

@media (min-width: 768px) {
  .tableWrapper {
    width: 736px;
  }
}

@media (min-width: 1440px) {
  .tableWrapper {
    width: 1280px;
    overflow: visible;
  }
}