.table {
  width: 678px;
  padding: 0 14px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  border-spacing: 0;
  border-top: 0;
}

@media (min-width: 768px) {
  .table {
    width: 960px;
    padding: 0 20px;
  }
}

@media (min-width: 1440px) {
  .table {
    width: 1280px;
  }
}

.tableCaption {
  padding: 14px;
  border-radius: 8px 8px 0 0;
  background-color: #e7f1ed;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #1d1e21;
  text-align: left;
}

@media (min-width: 768px) {
  .tableCaption {
    padding: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.table th {
  padding: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(29, 30, 33, 0.4);
  text-align: left;
}

.table th:nth-child(1) {
  padding-left: 0;
}

@media (min-width: 768px) {
  .table th {
    padding: 20px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.table th:not(:last-child) {
  border-right: 1px solid rgba(29, 30, 33, 0.1);
}

.table td {
  padding: 30px 8px 30px 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #1d1e21;
  border-top: 1px solid rgba(29, 30, 33, 0.1);
}

.table td:nth-child(1) {
  padding-left: 0;
}

@media (min-width: 768px) {
  .table td {
    padding: 29px 20px;
    font-size: 16px;
    line-height: 1.125;
  }
}

.table td:not(:last-child) {
  border-right: 1px solid rgba(29, 30, 33, 0.1);
}

.table tr:last-child td {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .table tr:last-child td {
    padding-bottom: 30px;
  }
}

.statusActive {
  border-radius: 40px;
  padding: 4px 14px;
  width: 62px;
  height: 23px;
  background-color: rgba(89, 177, 122, 0.1);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #59b17a;
}

.statusDeactive {
  border-radius: 40px;
  padding: 4px 8px;
  width: 62px;
  height: 23px;
  background-color: rgba(232, 80, 80, 0.1);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #e85050;
}

@media (min-width: 768px) {
  .statusActive {
    padding: 4px 25px;
    width: 89px;
    height: 25px;
    font-size: 14px;
  }

  .statusDeactive {
    padding: 4px 12px;
    width: 89px;
    height: 25px;
    font-size: 14px;
  }
}

.buttonEdit {
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  padding: 6px 14px;
  width: 69px;
  height: 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #59b17a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
}

@media (min-width: 768px) {
  .buttonEdit {
    padding: 8px 17px;
    width: 82px;
    height: 34px;
    font-size: 16px;
    line-height: 1.125;
  }
}

.buttonEditIcon {
  fill: #59B17A;
}