.table {
  table-layout: fixed;
  max-width: 335px;
  padding: 0 14px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  border-spacing: 0;
  border-top: 0;
}

@media (min-width: 768px) {
  .table {
    max-width: 704px;
    padding: 0 20px;
  }
}

@media (min-width: 1440px) {
  .table {
    max-width: 630px;
  }
}

.tableCaption {
  padding: 14px;
  border-radius: 8px 8px 0 0;
  background-color: #e7f1ed;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #1d1e21;
  text-align: left;
}

@media (min-width: 768px) {
  .tableCaption {
    padding: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.table th {
  padding: 14px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(29, 30, 33, 0.4);
  text-align: left;
}

@media (min-width: 768px) {
  .table th {
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.29;
  }
}

.table th:nth-child(2) {
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  border-left: 1px solid rgba(29, 30, 33, 0.1);
}

.table th:nth-child(2),
.table th:nth-child(3) {
  padding: 14px 10px;
}

@media (min-width: 768px) {

  .table th:nth-child(2),
  .table th:nth-child(3) {
    padding: 20px;
  }
}

.table td {
  padding: 14px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #1d1e21;
  border-top: 1px solid rgba(29, 30, 33, 0.1);
}

@media (min-width: 768px) {
  .table td {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.125;
  }
}

.table td:nth-child(2) {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-bottom: 0;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  padding: 14px 0 14px 10px;
}

@media (min-width: 768px) {

  .table td:nth-child(2),
  .table td:nth-child(3) {
    padding: 20px;
  }
}

.table tr:last-child td {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .table tr:last-child td {
    padding-bottom: 30px;
  }
}

.table td.name {
  max-width: 92px;
  width: 92px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .table td.name {
    max-width: 235px;
    width: 235px;
    align-items: center;
    flex-direction: row;
    padding-right: 0;
  }
}

@media (min-width: 1440px) {
  .table td.name {
    max-width: 203px;
    width: 203px;
    padding-right: 21px;
  }
}

.image {
  width: 24px;
  height: 24px;
  border-radius: 30px;
  background-color: #DCDDDF;
}

@media (min-width: 768px) {
  .image {
    width: 36px;
    height: 36px;
  }
}

.table td.email {
  max-width: 150px;
  width: 150px;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .table td.email {
    max-width: 279px;
    width: 279px;
  }
}

@media (min-width: 1440px) {
  .table td.email {
    max-width: 269px;
    width: 269px;
  }
}

.table td.spent {
  width: 62px;
}

@media (min-width: 768px) {
  .table td.spent {
    width: 150px;
  }
}

@media (min-width: 1440px) {
  .table td.spent {
    width: 118px;
  }
}