@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #1d1e21;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .root {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 80px auto;
    grid-template-areas:
      'h h'
      's m';
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

input {
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}